body{
    background-color: hsl(230, 100%, 99%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    background-image: url(images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

span{
    color: hsl(225, 20%, 60%);
    font-size: 16px;
}
.main-container{
    background-color: rgb(255, 255, 255);
    width: fit-content;
    box-shadow: 10px 10px 10px 10px rgb(233, 233, 233);
    padding: 20px;
}


.header{
 display: flex;
 justify-content:space-between ;
 gap: 300px;
}


.range{
    display: flex;
align-items: center;
justify-content: center;

}


.prc{
    background-color:hsl(14, 92%, 95%) ;
    color:hsl(15, 100%, 70%) ;
}

.pay{
    display: flex;
    justify-content:space-between ;
    gap: 15px;
}

.checks{
    display: flex;
    align-items: center;
}

.sign{
    display: flex;
    gap: 10px;
}